## Workbench Playroom

In [10]:
import pandas as pd
import numpy
import matplotlib
import mysql.connector

In [11]:
from sqlalchemy import create_engine

# 
engine = create_engine('mysql+pymysql://root:Veroni4ka!@localhost:3306/playroom')

# Read table в DataFrame
#df = pd.read_sql('SELECT * FROM customers', con=engine)

#print(df.head())

In [13]:
"""
import matplotlib.pyplot as plt

# Upload data
df = pd.read_sql('SELECT name, price FROM products', con=engine)

# Построение гистограммы цен
plt.figure(figsize=(10,6))
plt.bar(df['name'], df['price'], color='skyblue')
plt.xlabel('Product')
plt.ylabel('Price')
plt.title('Product Prices')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()
"""
df = pd.read_sql('SELECT * FROM cars_2025', con=engine)

print(df.head())

  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

   Seats        Torque
0      2        800 Nm
1      5        900 Nm
2      5  100 - 140 Nm
3      4        900 Nm
4      2        560 Nm